@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-200.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-500.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-500It.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/SourceCodePro-700.otf');
    font-weight: 700;
    font-style: normal;
}

*{
    box-sizing: border-box;
}


body{
    margin: 0;
}
button{
    &:hover{
        cursor: pointer;
    }
}

a, p, h1, h2, h3, h4, span{
    font-family: 'Source Code Pro';
    color: #000000;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul{
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ol {
    padding-inline-start: 0;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    margin: auto;

    @media (min-width: 1200px){
    }
}


.is-hidden{
    display: none;
}

.container {
    margin: auto;
    min-width: 320px;
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;

    @media (min-width: 768px) {
        max-width: 1440px;
        padding-left: 9.376%;
        padding-right: 9.376%;
    }

    @media (min-width: 1440px){
        padding-left: 135px;
        padding-right: 135px;
    }
}

.hero{
    display: block;
    position: relative;
    width: 100%;
    background-color: #D2ED66;

    @media (min-width: 768px) {
        width: 100%;
        padding-bottom: 165px;
        padding-top: 90px;
        margin-bottom: 75px;
    }
}

.hero-wrap{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 60px;

    @media (min-width: 768px) {
        padding-bottom: 0;
        flex-direction: row;
        justify-content: space-between;
    }
}

.hero-text-wrap{
    @media (min-width: 768px){
        // max-width: 570px;
        width: 48.718%;
    }

    & img{
        display: block;
        width: 63%;
    }
}

.hero-slogan{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 1000ms;
    transition-delay: 0;
    margin-top: 20px;

    @media (min-width: 768px){
    margin-top: 55px;
    font-size: 39px;
    line-height: 45px;
    }
}

.hero-text{
    display: none;
    transition-property: color;
    transition-duration: 1000ms;
    transition-delay: 0;

    @media (min-width: 768px){
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 0.03em;
        margin-top: 15px;
    }
}


.hero-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 188px;
    height: 41px;
    margin-top: 15px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    transition-property: background-color, color, border-color;
    transition-duration: 250ms;
    transition-delay: 0;
    z-index: 2;
    &:hover{
        background-color: #2B0BF2;
        color:#FFFFFF;
        border-color: #2B0BF2;
    }

    @media (min-width: 768px){
        margin-left: 0;
        margin-top: 40px;
        width: 266px;
        height: 62px;
        font-size: 30px;
        line-height: 70px;
    }

    &.blue{
        background-color: #FFFFFF;
        color: #1A2B70;
        border-color: #127AD9;
        transition-property: background-color, color, border-color;
        transition-duration: 250ms;
        transition-delay: 0;
        z-index: 2;

        &:hover{
            background-color: #1A2B70;
            border-color: #1A2B70;
            color: #FFFFFF;
        }
    }
}




.hero-banner{
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Union.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    margin: 0;
    width: 80%;
    
    @media (max-width: 767px) {
        margin: auto;
    }

    @media (min-width: 768px){
        margin-top: 25px;
        width: 51.282%;
        height: auto;
        background-image: url('../images/Union.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: none;
    }
}

.hero-banner-background{
    display: none;

    @media (min-width: 768px) {
        display: flex;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    & img{
        width: 50%;
    }
}

.hero-banner-img{
    width: 100%;
    transform: rotate(-90deg);

    @media (min-width: 768px) {
        transform: none;
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// Разделить секции

.why{
    margin-top: 60px;

    @media (min-width: 768px) {
        margin-top: 0;
    }
}

.why-text-wrap{
    @media (min-width: 768px){
    }
}

.title-why{
    // margin-top: 119px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 100%;

        @media (min-width: 768px){
            margin-top: 0;
            padding: 0;
            font-size: 28px;
            line-height: 1.1;
            white-space: break-spaces;
        }

        @media (min-width: 964px){
            font-size: 36px;
        }

        @media (min-width: 1300px){

            font-size: 48px;

        }

        @media (min-width: 1526px){
            font-size: 59px;

        }
}

.why-main-wrap{
    width: 100%;
    @media (min-width: 768px){
        width: 67%;
        margin-left: 20px;
    }
}

.why-text-main{
    margin-top: 14px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.03em;

    @media (min-width: 768px) {
        padding: 0;
        font-size: 18px;
        line-height: 1.2;
        width:100%;
        margin-top: 15px;
    }

    @media (min-width: 964px){
        font-size: 21px;
    }
}

.reviews{
    
    width: 100%;
    margin-top: 70px;

    @media (min-width: 768px){

        margin-top: 125px;
        margin-top: 44px;
    }
}

.reviews-title{
        width: 90%;
        text-align: center;
        margin: auto;
    
        @media (min-width: 768px){
            font-weight: 700;
            font-size: 42px;
            line-height: 1.3;
            margin: auto;
            width: auto;
        }
        @media (min-width: 900px){
            font-size: 54px;
        }
}

.reviews-background{
    background-color: #EAB568;
    margin-top: 20px;


    @media (min-width: 768px) {
        margin-top: 50px;
    }
}

.reviews-wrap{
    position: relative;
    width: 100%;

    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;

    @media (min-width: 768px){
        padding: 0;
        max-width: 1440px;
    }
}

.reviews-photo{
    display: block;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    background-color: #D9D9D9;
    margin: auto;

    @media (min-width: 768px){
        width: 40%;
        max-width: 370px;
        height: fit-content;
        max-height: 370px;
        margin: 0;
    }
}

.rewiews-text-wrap{
    display: block;
    height: 100%;
    width: 85%;
    margin: auto;

    @media (min-width: 768px) {
        width: 44.825%;
    }
}

.review-author-name{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 20px;
    margin: auto;
    margin-top: 20px;

    @media (min-width: 768px){
        margin: 0;
        font-size: 32px;
        line-height: 1.2;
        padding: 0;
        margin-top: calc((32px * 1.2 - 32px) * (-1));
    }    

    @media (min-width: 1400px){
        font-size: 48px;
        margin-top: calc((48px * 1.2 - 48px) * (-1));
    }
}

.review-author-job-title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    margin: auto;

    @media (min-width: 768px){
        margin: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        margin-top: 15px;
        padding: 0;
    }

    @media (min-width: 1400px){
        font-size: 21px;
    }    
}

.review-text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #000000;
    margin: auto;
    margin-top: 12px;

    @media (min-width: 768px){
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2;
        margin-top: 25px;
        padding: 0;
    }

    @media (min-width: 1400px){
        font-size: 21px;
    }    
}

.reviews-button{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 88px;
    padding-left: 0;
    padding-right: 0;
    z-index: 999;

    @media (min-width: 768px){
        top: 50%;
        transform: translateY(-50%);
    }


    &.left{
        left: 20px;
    }

    &.right{
        right: 20px;
    }
}

.reviews-button-icon{
    width: 32px;

    @media (min-width: 768px) {
        width: 50px;
    }

    @media (min-width: 1100px) {
        width: 60px;
    }   
}

.reviews li{
    width: 100%;
    flex-shrink: 0;
    @media (min-width: 768px) {
        display: flex;
        align-items: flex-start;
        margin: auto;
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;

        & div{
            margin-left: 30px;
        }
    }
}

.about{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 45px;
    background-color: #FD7ED9;

}

.about-title{
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px){
        font-weight: 700;
        font-size: 42px;
        line-height: 1.3;
        margin: auto;
    }
    @media (min-width: 900px){
        font-size: 54px;
    }
}

.about-description{
    margin: auto;
    margin-top: 14px;

    @media (min-width: 768px) {
    margin: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

     }

    @media (min-width: 1400px){
        font-size: 21px;
    }  
    
    &:not(:first-child){
        margin-top: 15px;
    }
}

.about-list{
    margin-top: 44px;
    margin: auto;
    margin-top: 44px;

    @media (min-width: 768px){
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 44px;
    }
}

.about-list-item{

    @media (min-width: 768px){
        width: calc(100%/3 - 20px);
        max-width: 370px;
    }

    &:not(:first-child){
        margin-top: 34px;
        @media (min-width: 768px) {
                margin-top: 0;
        }
    }
}

.about-list-item-title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media (min-width: 768px){
        font-size: 18px;
        line-height: 1.2;
    }
    
    @media (min-width: 900px){
        font-size: 22px;
        line-height: 1.2;
    }

    @media (min-width: 1400px){
        font-size: 27px;
    }
}

.about-list-item-text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.03em;
    margin-top: 7px;

    @media (min-width: 900px){
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
    }

    @media (min-width: 1400px){
        font-weight: 500;
        font-size: 17px;
    }
}

.art-n-fact-logo{
    display: block;
    height: auto;
    object-fit: cover;
    width: 90%;
    margin: auto;

    @media (min-width: 768px){
        width: 60%;
        max-width: 585px;
        height: auto;
        max-height: 104px;
    }
}

.logo-wrap{
    height: auto;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #1A2B70;
    border-radius: 20px;

    @media (min-width: 768px){
        padding: 0;
        height: auto;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        padding-left: 7.95%;
        padding-right: 7.95%;
        max-height: 210px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.about-logo-list{
    margin-left: 0;
    margin-right: auto;
    @media(max-width: 768px){
        width: fit-content;
        display: block;
        margin: auto;
        margin-top: 18px;
    }
}


.about-logo-list li{
    list-style: none;
}


.about-logo-list-item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media (min-width: 768px){
        font-size: 14px;
        line-height: 1.2;
    }

    @media (min-width: 800px) {
        font-size: 16px;
        line-height: 1.2;
    }
    
    @media (min-width: 900px){
        font-size: 18px;
        line-height: 1.2;
    }

    @media (min-width: 1100px) {
        font-size: 22px;
        line-height: 1.2;
    }

    @media (min-width: 1400px){
        font-size: 27px;
    }
}

.reviews-list{
    display: flex;
    transition-property: transform;
    transition-duration: 500ms;
    transition-delay: 0;
}

.catalog{
    margin-top: 80px;
}

.catalog-title{
        width: auto;
        text-align: center;
        font-family: 'Source Code Pro';
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 20px;
        color: #2B0BF2;
    
        @media (min-width: 768px){
            font-weight: 700;
            font-size: 42px;
            line-height: 1.3;
            margin: auto;
            text-transform: uppercase;
            color: #000000;
        }
        @media (min-width: 900px){
            font-size: 54px;
        }
}


.catalog-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    @media (min-width: 768px) {
        margin-top: -80px;
    }

}

.catalog-list-item{
    


    width: calc((100% - 30px) / 2);
    min-width: 120px;

    @media (min-width: 768px){
        width: calc((100% - 60px) / 2);
        margin-top: 80px;
        min-width: 270px;
        max-width: 370px;
        max-height: 714px;
    }

    @media (min-width: 1070px){
        width: calc((100% - 60px) / 3);
    }
}


.catalog-list-item-image-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-list-item-image{
    display: block;
    height: 100%;
    max-width: 100%;
}

.catalog-product-name{
    font-family: 'GT America';
    font-style: normal;
    font-weight: 700;
    font-size: 9.08108px;
    line-height: 11px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 5px;

    @media (min-width: 420px) {
        font-size: 14px;
        line-height: 16px;
    }

    @media (min-width: 768px) {
        font-size: 28px;
        line-height: 34px;
        margin-top: 10px;
    }

}

.catalog-product-description{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 6.48649px;
    line-height: 7px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: 5px;

    @media (min-width: 420px) {
        font-size: 12px;
        line-height: 14px;
    }

    @media (min-width: 768px){
        font-size: 20px;
        line-height: 22px;
        margin-top: 20px;
    }
}

.catalog-product-fast-link{
    display: block;
    width: 81.082%;
    margin: auto;
    margin-top: 5px;

    max-height: 70px;
    border-radius: 90px;
    border: 0.648649px solid #000000;
    font-family: 'GT America';
    font-style: normal;
    font-weight: 700;
    font-size: 6.48649px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: center;
    background-color: transparent;

    transition-property: background-color, border-color, color;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (min-width: 420px) {
        font-size: 12px;
        line-height: 22px;
    }

    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
        padding-top: 21px;
        padding-bottom: 21px;
        border: 2px solid #000000;
        border-radius: 90px;
        margin-top: 30px;
    }

    &:hover{
        background-color: #2B0BF2;
        color: #FFFFFF;
        border-color: #2B0BF2;
    }
}


.catalog-product-more-link{
    display: block;
    width: 81.082%;
    margin: auto;
    margin-top: 5px;
    background: #2B0BF2;
    border: 1px solid #2B0BF2;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-family: 'GT America';
    font-style: normal;
    font-weight: 700;
    font-size: 6.48649px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 29.1892px;

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (min-width: 420px) {
        font-size: 12px;
        line-height: 22px;
    }

    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 70px;
        border-radius: 90px;
        margin-top: 10px;
    }

    &:hover{
        background-color: #FFFFFF;
        color: #000000;
    }
}

.catalog-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.catalog-filter-item{
    &:not(:last-child){
        &::after{
            display: none;

            @media (min-width: 768px) {
            display: inline;
            content: '/';
            margin-left: 10px;
            margin-right: 10px;
            font-family: 'Source Code Pro';
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 45px;
            color: #5E5E5E;
            }
        }
    }
}

.catalog-filter-item-text{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #5E5E5E;

    @media (min-width: 768px) {
        font-size: 18px;
        line-height: 45px;
    }
}

.catalog-backdrop{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: 999;
}

.list-item-modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1440px;
    height: fit-content;
    max-height: 1123px;
    background-color: white;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    @media (max-width: 767px) {
        padding-top: 10px;
    }
    

    @media (min-width: 1600px) {
        width: 76%;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        padding-left: 30px;
        padding-right: 70px;
        padding-bottom: 90px;
    }
}

.modal-product-image{
    display: block;
    width: 55%;
    max-width: 796px;
    height: fit-content;

    @media (max-width: 767px) {
        margin: auto;
    }
}

.modal-text-block{
    width: 100%;

    @media (min-width: 768px) {
        width: 34.7%;
    }

    & h3{
        width: 100%;
        font-family: 'Source Code Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000000;
        margin-top: 60px;

        @media (min-width: 420px) {
            font-size: 22px;
            line-height: 24px;
        }

        @media (min-width:1440px) {
            font-size: 40px;
            line-height: 50px;
        }
    }
}

.modal-text-short{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: 10px;

    @media (min-width: 420px) {
        font-size: 16px;
        line-height: 18px;
    }

    @media (min-width: 1440px) {
        font-size: 20px;
        line-height: 25px;
    }
}

.modal-text-descr{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: 15px;

    @media (min-width: 768px) {
        font-size: 16px;
        line-height: 22px;
        margin-top: 35px;
    }

    @media (min-width: 1440px) {
        font-size: 20px;
        line-height: 25px;
        margin-top: 35px;
    }
}

.modal-descr-list{
    
    justify-content: center;
    margin-top: 15px;
    flex-direction: column;
    display: none;

    @media (min-width: 1100px) {
        display: flex;
        flex-direction: row;
        margin-top: 35px;
    }
}

.modal-descr-item{
    max-width: 146px;

    &:not(:first-child){
        margin-left: 15px;
    }

    & p{
        font-family: 'Source Code Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 17.7551px;
        line-height: 21px;
        text-align: center;
        color: #000000;
        margin-top: 10px;
    }
}

.modal-descr-item-icon-wrap{
    display: flex;
    width: 110px;
    height: 110px;
    background-color: #FFE699;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: auto;
}

.modal-links-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;


    @media (min-width: 1100px) {
        margin-top: 80px;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.modal-links-item{
    &:not(:first-child){
        margin-top: 25px;

        @media (min-width: 1100px) {
            margin-top: 0;
            margin-left: 15px;
        }
    }

    & a{
        font-family: 'Source Code Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px; 
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #2B0BF2;
        padding: 10px 30px;
        border: 1px solid #2B0BF2;
        border-radius: 100px;

        transition-property: background-color, color;
        transition-duration: 500ms;
        transition-delay: 0;

        @media (min-width: 1100px) {
            font-size: 30px;
            line-height: 70px; 
        }

        &:hover{
            background-color: #FFFFFF;
            color: #000000;
        }
    }
}

.modal-same-link{
    display: flex;
    align-items: center;
    margin-top: 70px;

    @media (max-width: 1099px) {
        justify-content: center;
        margin-top: 30px;
    }

    & p{
        font-family: 'Source Code Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.03em;
        color: #000000;

        @media (min-width: 1100px) {
            font-size: 21px;
            line-height: 25px;
        }

        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #000000;
            margin-top: 1px;

            @media (min-width: 768px) {
                height: 2px;
            }
        }
    }

    & img{
        @media (max-width: 767px) {
            width: 32px
        }
    }
}

.benefits{
    margin-top: 70px;
    @media (min-width: 768px) {
        margin-top: 80px;
    }
}

.benefits-title{
    display: none;
    @media (min-width: 768px) {
        display: block;
        font-family: 'Source Code Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 70px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}

.benefits-list{
    
    @media (min-width: 768px) {
        margin-top: 50px;
    }
}

.benefits-item-img-wrap{
    width: 82px;
    height: 82px;
    background-color:  #EAB568;
    border-radius: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 5px;

    @media (min-width: 768px) {
        display: none;
    }
}

.benefits-item-img{
    display: block;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.third{
        width: 50%;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.benefits-item-title{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-align: center;
    width: 70%;
    margin: auto;

    @media (min-width: 768px) {
        width: 100%;
        font-size: 30px;
        line-height: 35px;
        text-align: start;
    }
}

.benefits-item-text{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: 5px;
    text-align: center;
    width: 96%;

    @media (min-width: 768px) {
        font-size: 21px;
        line-height: 30px;
        text-align: start;
        margin-top: 15px;
    }
}

.benefits-item{
    &:not(:first-child){
        margin-top: 25px;
        @media (min-width: 768px) {
            margin-top: 60px;
        }
    }
}


.loyalty-wrap{
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 50px;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        padding-top: 140px;
        padding-bottom: 250px;
    }
}


.loyalty-text-wrap{
    width: 100%;

    @media (min-width: 768px) {
        width: 48.718%;
        max-width: 570px;
        margin-right: 30px;
    }
}

.loyalty-title{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 15.7453px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 10px;
    text-align: center;
    

    @media (min-width: 768px) {
        font-size: 30px;
        line-height: 38px;
        padding-left: 30px;
        margin-top: 15px;
    }
}

.loyalty-text{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 9.97205px;
line-height: 13px;
    color: #000000;

    @media (min-width: 420px) {
        font-size: 12px;
        line-height: 14px;
    }

    @media (min-width: 768px) {
        font-size: 21px;
    line-height: 26px;
    }

}

.loyalty-terms{
    display: block;
    margin: auto;
    margin-top: 20px;
}

.loyalty-sponsors-list{
    display: flex;
}

.loyalty-link{
    display: block;
    width: 100%;
    background-color: #2B0BF2;
    border: 1px solid #2B0BF2;
    border-radius: 100px;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 9.96894px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    
    margin: auto;

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (max-width: 767px) {
        max-width: 320px;
    }

    @media (min-width: 768px) {
        font-size: 14px;
        line-height: 22px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media (min-width: 1000px) {
        margin-top: 30px;
        font-size: 20px;
        line-height: 30px;
    }

    &:hover{
        background-color: #FFFFFF;
        color: #000000;
    }
}

.loyalty-carely{
    display: block;
    width: 51%;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        width: 48%;
    }
}

.loyalty-sponsors-img{
    width: 82%;
    max-width: 472px;
    margin-top: 10px;
}

.loyalty-img{
    width: 100%;
    margin-top: 20px;
    max-width: 570px;

    @media (min-width: 768px) {
        width: 50%;
    }
}

.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
        display: block;
        width: 90%;
        margin: 0;
    }
}